<!DOCTYPE html>
<html lang="pt-BR">
{% include 'global/partials/head.html' %}
<body>
    {% include 'global/partials/header.html' %}
    {% include 'home/partials/search.html' %}

    <main class="main-content-container">
        <div class="main-content container">
            <div class="temp"></div>
            <div class="temp"></div>
            <div class="temp"></div>
            <div class="temp"></div>
            <div class="temp"></div>
            <div class="temp"></div>
            <div class="temp"></div>
            <div class="temp"></div>
            <div class="temp"></div>
            <div class="temp"></div>
        </div>
    </main>
</body>
</html>